*{
    margin: 0;
    padding: 0;
}
h1{
    height: auto;
    width: auto;
    background-color: bisque;
}
p{
    height: 100px;
    height: 100px;
    color: antiquewhite;
    background-color: bisque;
}